* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  height: auto;
  background-color: var(--background);}

:root {
  --background: #FFFFFF;
  --dm-toggle: #FFFFFF;
  --body-text: #333333;
  --body-text-faint: #777777;
  --hero-text: #000000;
  --footer-text: #FFFFFF90;
  --nav-background: #222222;
  --button-color: #333333;
  --button-hover: #111111;
  --inverse-text: #FFFFFF;
  --box-shadow: #11111150;
  --card-background: #FFFFFF;
  --card-background-inactive: #EEEEEE;
  --section-heading-background: #EEEEEE;
  --blog-list-background: #EFEFEF60;}

.darkmode {
  --background: #222222;
  --dm-toggle: #FFBD33;
  --body-text: #FFFFFF;
  --body-text-faint: #FEFEFE80;
  --hero-text: #000000;
  --footer-text: #FFFFFF80;
  --nav-background: #000000;
  --button-color: #FFFFFF;
  --button-hover: #EEEEEE;
  --inverse-text: #333333;
  --box-shadow: #11111150;
  --card-background: #FFFFFF25;
  --card-background-inactive: #FFFFFF07;
  --section-heading-background: #EEEEEE20;
  --blog-list-background: #FFFFFF10;}

.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1.3em;
  right: 1em;
  background-image: url(../img/dm_toggle.svg);
  background-repeat: no-repeat;
  background-color: var(--dm-toggle);
  background-position: center;
  color: var(--dm-toggle);
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 5px;}

em {
  font-size: 11pt;
  color: var(--body-text-faint);}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--hero-text);
  padding-bottom: 8px;}

h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--body-text);
  font-weight: 300;
  padding-bottom: 16px;}

h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--body-text);
  font-weight: 400;
  padding-top: 16px;
  padding-bottom: 16px;}

p {
  color: var(--body-text);
  padding-bottom: 16px;}


#hero{
  background-image: url(../img/pexels-238118.jpg);
  background-size: cover;
  height: 300px;}

.herocopy {
  color: var(--hero-text);}

#footer {
  background-color: var(--nav-background);
  background-size: cover;
  margin-top: 80px;
  height: 150px;}

.footer_content {
  color: var(--footer-text);}

#blog-column-list {
  display: none;
  min-width: 190px;
  border-radius: 5px;}

#herocontent{
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--hero-text);}

#contact_img{
  background-image: url(../img/undraw_personal_text_re_vqj3.svg);
  background-position: center top;
  background-size: clamp(10px, 80%, 1000px);
  background-repeat: no-repeat;
  margin-top: 190px;
  display: none;}

#contact_img_index{
  background-image: url(../img/undraw_personal_text_re_vqj3.svg);
  background-position: center top;
  background-size: clamp(10px, 80%, 1000px);
  background-repeat: no-repeat;
  margin-top: 0px;}

#section-heading {
  background-color: var(--section-heading-background);
  text-align: center;
  padding-top: 24px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-bottom: 12px;
  margin-top: 62px;
  height: auto;}

#section-heading-2 {
  background-color: var(--section-heading-background);
  text-align: center;
  padding-top: 24px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-bottom: 12px;
  margin-top: 62px;
  height: auto;}

#blog-card {
  margin-left: 15px;
  margin-right:15px;
  margin-bottom: 16px;
  background-color: var(--card-background);
  box-shadow: 0px 12px 40px var(--box-shadow);
  border-radius: 5px;
  height: clamp(150px, auto, 240px);}

.blog-card-inactive {
  min-width: 200px;
  margin-left: 15px;
  margin-right:15px;
  margin-bottom: 16px;
  background-color: var(--card-background-inactive);
  box-shadow: 0px 12px 40px var(--box-shadow);
  border-radius: 5px;
  height: auto;}

.author-image {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-left: 8px;
  margin-top: 8px;}

.blog-card-author {
  font-weight: 300;
  font-size: 12pt;
  color: var(--body-text);
  margin-top: -20px;
  padding-left: 16px;
  display: inline-block;
  vertical-align: middle;}

.blog-text-bulk {
  text-align: center;}

.blog-card-title {
  font-weight: 200;
  font-size: 18pt;
  color: var(--body-text);
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  display: block;}

.blog-card-copy {
  font-weight: 200;
  font-size: 12pt;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: var(--body-text-faint);
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  margin-bottom: 8px;}

.blog-card-info {
  font-weight: 300;
  color: var(--body-text);
  font-size: 12pt;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;}

.blog-link {
  background-color: var(--card-background-inactive);
  justify-content: left;
  margin-top: 10px;
  width: 100%;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: auto;
  padding-right: auto;
  border-radius: 5px;
  display: none;}

.blog-link-author {
  font-weight: 300;
  font-size: 10pt;
  color: var(--body-text);
  margin-top: -20px;
  padding-left: 16px;
  display: inline-block;
  vertical-align: middle;}

.blog-link-title {
  font-weight: 200;
  font-size: 16pt;
  width: 100%;
  color: var(--body-text);
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  display: block;}

.blog-link-copy {
  font-weight: 200;
  font-size: 10pt;
  width: 100%;
  display: block;
  color: var(--body-text-faint);
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  margin-bottom: 4px;}

.link-author-image {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-left: 8px;
  margin-top: 8px;}

section {
  height: auto;}

li a {
  text-decoration:none;
  color: white;}

.contact-button {
  display: block;
  align-content: center;
  width: 200px;
  height: 60px;
  padding: 12px;
  font-size: 16px;
  border-radius: 1000px;
  background-color: var(--button-color);
  color: var(--inverse-text);
  border: none;}
  .contact-button:hover {
    background-color: var(--button-hover);}

input[type=submit] {
  background-color: var(--button-color);
  color: var(--inverse-text);
  padding: 12px;
  width: clamp(10px, 100%, 120px);
  border-radius: 1000px;
  float: right;
  border: none;
  font-size: 16px;}
  input[type=submit]:hover{
    background-color: var(--button-hover);}

input[type=text] {
  font-size: 11pt;
  width: clamp(10px, 100%, 1000px);
  padding: 10px 20px;
  margin-top: 0px;
  margin-bottom: 12px;
  box-sizing: border-box;
  background-color: #F8F8F8;
  border: none;
  border-bottom: 1px solid black;
  resize: none;}
  input[type=text]:hover {
    background-color: #EEEEEE;}
  input[type=text]:focus {
    background-color: #F8F8F8;}

input[type=radio] {
  display: inline;
  margin-bottom: 12px;}

input[type=date] {
  width: 250px;
  font-size: 11pt;
  padding: 10px 20px;
  margin-bottom: 12px;
  box-sizing: content-box;
  background-color: #F8F8F8;
  font-family: 'IBM Plex Sans', sans-serif;
  border: none;
  border-bottom: 1px solid black;}

select {
  width: 250px;
  font-size: 11pt;
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 10px 20px;
  margin-bottom: 12px;
  box-sizing: content-box;
  background-color: #F8F8F8;
  border: none;
  border-bottom: 1px solid black;}

textarea {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 11pt;
  height: 100px;
  width: clamp(10px, 100%, 1000px);
  padding: 10px 20px;
  margin-top: 0px;
  margin-bottom: 12px;
  box-sizing: border-box;
  background-color: #F8F8F8;
  border: none;
  border-bottom: 1px solid black;
  resize: none;}
  textarea:hover {
    background-color: #EEEEEE;}
  textarea:focus {
    background-color: #F8F8F8;}

label {
  padding-bottom: 8px;
  padding-top: 20px;
  font-size: 11pt;
  font-weight: 400;
  box-sizing: border-box;
  display: block;
  color: var(--body-text);}

#navbar {
  background: var(--nav-background);
  padding: 0 15px;
  position: fixed;
  min-height: 70px;
  top: 0;
  width: 100%;
  transition: top 0.4s;
  z-index: 5;}

a {
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
  text-decoration: none;
  cursor: pointer;}
  li a:hover {
    text-decoration: underline;
    color: white;}

#navspacer {
  height: 70px;}

.menu,
.submenu {
  list-style-type: none;
  z-index: 5;}

.logo {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  padding: 10px 10px 7.5px 0;}

.item {
  padding-top: 14px;
  padding-left: 30px;
  padding-bottom: 0px;
  padding-right: 30px;}

.item.button {
  padding: 9px 5px;}

.item:not(.button) a:hover,
.item a:hover::after {
  color: #FFFFFF;}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 540px;
  margin-left: auto;
  margin-right: auto;
}
.menu li a {
  display: block;
  margin-bottom: 0px;
  margin-top: 10px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
  margin-right: 60px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
  padding-bottom: 30px;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
  padding-left: 50px;
  padding-right: 50px;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #222;
  border-radius: 3px;}

.container {
  padding-top: 30px;}

@media all and (max-width: 576px) {
  .menu {
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;}

  .logo {
    flex: 1;}

  .item.button {
    width: auto;
    order: 1;
    display: block;}

  .toggle {
    flex: 1;
    text-align: right;
    order: 2;}
}

/* Small Screens */
@media all and (min-width: 576px) {
  .menu {
    justify-content: center;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;}

  .logo {
    flex: 1;}

  .item.button {
    width: auto;
    order: 1;
    display: block;}

  .toggle {
    flex: 1;
    text-align: right;
    order: 2;}
}

/* Medium Screens */
@media all and (min-width: 768px) {
  .menu {
    justify-content: center;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;}

  .logo {
    flex: 1;}

  .item.button {
    width: auto;
    order: 1;
    display: block;}

  .toggle {
    flex: 1;
    text-align: right;
    order: 2;}

  .blog-card-copy {
    font-weight: 200;
    font-size: 12pt;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: var(--body-text-faint);
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    margin-bottom: 8px;}

  #contact_img_index{
    background-image: url(../img/undraw_personal_text_re_vqj3.svg);
    background-position: center top;
    background-size: clamp(10px, 60%, 1000px);
    background-repeat: no-repeat;
    margin-top: 0px;}

  /* Button up from tablet screen */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;}

  .button a {
    background: #0080ff;
    border: 1px royalblue solid;}

  .button.secondary {
    border: 0;}

  .button.secondary a {
    background: transparent;
    border: 1px #0080ff solid;}

  .button a:hover {
    text-decoration: none;}

  .button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;}
}

/* Large Screens */
@media all and (min-width: 992px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;}

  .logo {
    order: 0;}

  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;}

  .button {
    order: 2;}

  .submenu-active .submenu {
    display: block;
    position: absolute;
    width: 300px;
    left: -90px;
    top: 75px;
    background: #111;
    z-index: 3}

  .toggle {
    display: none;}

  .submenu-active {
    border-radius: 0;}

  .blog-card-copy {
    font-weight: 200;
    font-size: 12pt;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: var(--body-text-faint);
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    margin-bottom: 8px;}

  #contact_img{
    background-image: url(../img/undraw_personal_text_re_vqj3.svg);
    background-position: center top;
    background-size: clamp(10px, 80%, 1000px);
    background-repeat: no-repeat;
    margin-top: 190px;
    display: block;}

  #contact_img_index{
    background-image: url(../img/undraw_personal_text_re_vqj3.svg);
    background-position: center top;
    background-size: clamp(10px, 40%, 1000px);
    background-repeat: no-repeat;
    margin-top: 0px;}

  #blog-column-list {
    display: block;
    background-color: var(--blog-list-background);
    border-radius: 5px;}

  .blog-link {
    background-color: var(--card-background-inactive);
    justify-content: left;
    margin-top: 10px;
    width: 100%;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: auto;
    padding-right: auto;
    border-radius: 5px;
    display: block;}

  .blog-text-bulk {
    align-content: left;
    text-align: left;}
}

/* XL Screens */

@media all and (min-width: 1200px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;}
}

/* XXL Screens */

@media all and (min-width: 1400px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;}

  .blog-card-copy {
    font-weight: 200;
    font-size: 12pt;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    color: var(--body-text-faint);
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    margin-bottom: 8px;}
}

@media only screen and (max-width: 992px) {
  .col-9 {
    width: 100% !important;}
}
